h1 {
  text-align: center;
  font-family: "Syne Mono", monospace;
  font-weight:700;
  font-style: normal;
  margin-bottom: 20px;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.image-card h1 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}

.ImageCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

