h1 {
  text-align: center;
  font-family: "Syne Mono", monospace;
  font-weight:700;
  font-style: normal;
  margin-bottom: 20px;
}

.ImageCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

