.imagecard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  margin: 20px 0;
  justify-items: center;
  align-items: center;
}

.home-container {
  padding: 20px;
}

.home-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.home-description {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
