body {
  margin: 0;
  padding: 20px;
  font-family: "Syne Mono", monospace;
  background-color: #f8c2cd;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><rect x="13" y="2" width="2" height="2" fill="%23B8860B"/><rect x="11" y="4" width="2" height="2" fill="%238B4513"/><rect x="13" y="4" width="4" height="2" fill="%23B8860B"/><rect x="17" y="4" width="2" height="2" fill="%238B4513"/><rect x="9" y="6" width="2" height="2" fill="%23DC143C"/><rect x="11" y="6" width="2" height="2" fill="%23FF6347"/><rect x="13" y="6" width="6" height="2" fill="%23DC143C"/><rect x="19" y="6" width="2" height="2" fill="%23FF6347"/><rect x="21" y="6" width="2" height="2" fill="%23DC143C"/><rect x="7" y="8" width="2" height="2" fill="%23DC143C"/><rect x="9" y="8" width="2" height="2" fill="%23FF6347"/><rect x="11" y="8" width="10" height="2" fill="%23DC143C"/><rect x="21" y="8" width="2" height="2" fill="%23FF6347"/><rect x="23" y="8" width="2" height="2" fill="%23DC143C"/><rect x="7" y="10" width="18" height="2" fill="%23DC143C"/><rect x="7" y="12" width="18" height="2" fill="%23DC143C"/><rect x="7" y="14" width="18" height="2" fill="%23DC143C"/><rect x="9" y="16" width="14" height="2" fill="%23DC143C"/><rect x="9" y="18" width="14" height="2" fill="%23B22222"/><rect x="11" y="20" width="10" height="2" fill="%23B22222"/><rect x="13" y="22" width="6" height="2" fill="%23B22222"/><rect x="15" y="24" width="2" height="2" fill="%23B22222"/></svg>') 16 16, pointer;
}
font {
  color: #fa7ba8;
}

#root {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}