body {
  margin: 0;
  padding: 20px;
  font-family: "Syne Mono", monospace;
  background-color: #f8c2cd;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><text y="15" font-size="14" text-anchor="middle" x="10">🍎</text></svg>') 10 10, pointer;
}
font {
  color: #fa7ba8;
}

#root {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}