body {
  margin: 0;
  padding: 20px;
  font-family: "Syne Mono", monospace;
  background-color: #f8c2cd;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  cursor: url('/apple.png') 12 12, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="12" cy="14" r="8" fill="%23DC143C"/><ellipse cx="12" cy="6" rx="2" ry="4" fill="%23228B22"/></svg>') 12 12, pointer;
}
font {
  color: #fa7ba8;
}

#root {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}