body {
  margin: 0;
  padding: 20px;
  font-family: "Syne Mono", monospace;
  background-color: #f8c2cd;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  cursor: url('/apple.jpg'), auto;
}
font {
  color: #fa7ba8;
}

#root {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}